<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleDisplayName</key>
	<string>Desker HK</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>hk.desker.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>desker</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>DeskerHK 需要相機以拍攝頭像或認證文件（如功能啟用）</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>DeskerHK 需要讀取相簿以選擇頭像或匯出分享圖片</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>DeskerHK 需要存取相簿以保存 IG 卡片</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIBackgroundModes</key>
	<array/>
</dict>
</plist>
